#flashMessage {
    text-align: center;
    font-size: 2rem;
    position: fixed; /* Sit on top of the page content */
    z-index: 2;
    display: none;
    min-width: 50%; /* positioning */
    height: 3rem;
    top: 10%;
    left: 10%;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
}

.navButton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#peasiumMainBody {
    margin: 2rem;
}

p {
    padding: 15px 32px;
}

pre {
    background-color: #EEEEEE;
    border: 1px solid #999999;
    display: block;
    padding: 12px;
}

.table {
    display: table;
    border: 1px solid #999999;
    width: 100%;
}
.tr {
    display: table-row;
    width: 100%;
}
.verified {
    background-color: #008CBA;
}
.td {
    display: table-cell;
    border: 1px solid #AAAAAA;
}
.forumPost {
    color: blue;
    text-decoration: underline;
}
